body{
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: F7EBDE;
}

.top-container{
    background-color: c89666;
    margin-right: 0cm;
    margin-left: 0cm;
    position: relative;
    height: 600px;
}

.bottom-container{
    height: 60px;
    background-color: 4B321B;
    margin: 0 auto 0 auto;
    padding: 1%;
}
.intro{
    position: absolute;
    left: 40%;
    margin:auto;
    bottom: 5%;
} 
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #450920;
    margin-bottom: 0%;
}

h2{
    font-family: 'fantasy', sans-serif;
    font-size: 2.66rem;
    font-weight: normal;
    color: 450920;
    margin: 5% auto 0 auto;
}

h3 {
    font-family: 'fantasy', sans-serif;
    color: F02D3A;
}

p{
    line-height: 2;
}

hr {
    border: 5px dotted ;
    border-style: none none dotted; 
    color: #c89666; 
    width: 20%;
}

a{
    color:42BFDD;
    font-size: 15px ;
    margin: 0 20px 0 20px;
    text-decoration: none;
}

a:hover{
    color: oldlace;
}

.Skill-row{
    
    margin: auto;
    text-align: left;
}

.skills {
    margin: 5% auto 5% 25%;
    text-align: left;
    width: 50%;
}

.city{
    position: absolute;
    max-width: 100%;
    height: auto;
    right: 0%;
    top: 0%;   
}




.dandelion{
    font-size: 15px;
    margin: 0 auto 0 20px;
    width: 30%;
    height: auto;
    float: right ;
    border-radius: 10%;
}
  
.ProfilePic {
    max-width: 30%;
    height: auto;
    margin-top: 15px;
    margin-right: 30px;
    float: left;
    border-radius: 10%;
}

.profile{
    margin: 5% auto 5% auto;
    text-align: left;
    width: 50%;
}

.contact-me{
    margin: auto;
    width: 50%;
    text-align: left;
    
}

.copyright{
    color: oldlace;
    font-size: 0.75rem;
}

 .button {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        height: 20px;
        line-height: 20px;
        color: #000000;
        font-family: Times New Roman;
        width: 157px;
        font-size: 27px;
        padding: 20px;
        background-color: #C89666;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    margin: 2% auto 2% auto;
 }
 .button:hover{
     background: brown;
     color: oldlace;
 }

 /*.button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }